<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div id="container">
    <div id="page-header">
      </br><img id="logo-image" src="/Images/logo_twitter.png" />
      <h1>Tweet Map Application</h1>
    </div>
    <div id="page-body"> 
      <div id="drop-down-wrapper">
         <div id="drop-down-heading"> Filter tweets by keyword </div>
        <div id=filters align='center'>
          <select id="mainselection">
            <option value="trump">Trump</option>
            <option value="spring">Spring </option>
            <option value="healtcare">Healtcare</option>
            <option value="politics">Politics</option>
            <option value="women">Womans Day</option>
            <option value="fc barcelona">FC Barcelona</option>
            <option value="modi">Narendra Modi(NaMo)</option> 
            <option value="nike">Nike</option>
            <option value="football">Football</option>
            <option value="holi">Holi</option>
            <option value="love">Love</option>
          </select>
        </div>
      </div></br>
      <div id="map" align='center'></div>
    </div>
  </div>
  <script type="text/javascript">
    
    var map;
    function initMap() {
        var mapOptions = {
        zoom: 1,
        center: new google.maps.LatLng(6.465422, 3.406448),
        mapTypeId: "terrain"
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        fetch_data(mapOptions);
    }
    function fetch_data(mapOptions){
      // send some data to the server
      $('#mainselection').change(function(){
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var selectedOption = $('#mainselection option:selected');
      var match_text = selectedOption.val();
      console.log("the match_text is:"+match_text);
      $.get('http://localhost:3000/search?match_text=' + match_text, function (data) {
        // console.log("the length of the data is :"+data.length);
        for(var i=0;i<data.length;i++)
        {
          console.log("inside the loop for parsing data with the length is:"+data.length);
          var loc = data[i]._source.location;
          console.log("the location we got for lat is: "+loc.lat);
          console.log("the location we got for lon is:"+loc.lon);
             
          var latLong = new google.maps.LatLng(loc.lat, loc.lon);
             
          var marker = new google.maps.Marker({
                position: latLong,
                // title: 'new york'
              });
          marker.setMap(map);
        }
      });
    });
  }
  </script>
  <script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDSlwG2J0i6AmO82M3e6VQYQKB4d4NS7ek&callback=initMap" type="text/javascript"></script> 
    <% include partials/scripts.ejs %>

    <!-- <script type="text/javascript">
      $(function(){
        
      })
    </script> -->
  </body>
</html>




<!-- <!DOCTYPE html>
<html lang="en">
  <head>
  	<% include partials/head.ejs %>
  </head>
  <body>
    <div id="container">
		<div id="page-header">
			<img id="logo-image" src="/Images/logo_twitter.png" />
			<h1>Tweet Map Application</h1>
		</div>
		<div id="page-body"> 
			<div id="map"></div>
			<div id="drop-down-wrapper">
				<div id="drop-down-heading"> Filter Twitter </div>
				<div id=filters>
					<select id="drop-down">
						<option value="trump">Trump</option>
						<option value="spring">Spring</option>
						<option value="java">Java</option>
						<option value="healtcare">Healtcare</option>
						<option value="obamacare">Obamacare</option>
						<option value="love">Love</option>
						<option value="football">Football</option>
						<option value="holi">Holi</option>
					</select>
				</div>
			</div>
		</div>
	</div>
 	<script type="text/javascript">
    
 	  var map;
    function initMap() {
        var mapOptions = {
        zoom: 1,
        center: new google.maps.LatLng(6.465422, 3.406448),
        mapTypeId: "terrain"
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        fetch_data(mapOptions);
    }
    function fetch_data(mapOptions){
      // send some data to the server
      $('#drop-down').change(function(){
      map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var selectedOption = $('#drop-down option:selected');
      var match_text = selectedOption.val();
      console.log("the match_text is:"+match_text);
      $.get('http://localhost:3000/search?match_text=' + match_text, function (data) {
        // console.log("the length of the data is :"+data.length);
        for(var i=0;i<data.length;i++)
        {
          console.log("inside the loop for parsing data with the length is:"+data.length);
          var loc = data[i]._source.location;
          console.log("the location we got for lat is: "+loc.lat);
          console.log("the location we got for lon is:"+loc.lon);
             
          var latLong = new google.maps.LatLng(loc.lat, loc.lon);
             
          var marker = new google.maps.Marker({
                position: latLong,
                // title: 'new york'
              });
          marker.setMap(map);
        }
      });
    });
    }
	</script>
  <script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDSlwG2J0i6AmO82M3e6VQYQKB4d4NS7ek&callback=initMap" type="text/javascript"></script> 
    <% include partials/scripts.ejs %>

     <script type="text/javascript">
    	$(function(){
    		
    	})
    </script> -->
 <!--  </body>
</html> -->